@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    --full-background: #d40e0e;
    --opacity-background: #d40e0ecf;
    --border: rgb(255, 0, 0);
    --white: rgb(227, 227, 227);
    --footer: #1d1b1bcc;
    --button: #024b23;
    --btn-back: #024b23b5;
}

.background-image{
    height: 100%;
    width: 100%;
    background-image: url("food.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


/*HEADER*/
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.header{
    font-size: 2rem;
    text-align: center;
    background-color: var(--opacity-background);
    border: 2px solid var(--border);
    color: var(--white);
    border-radius: 20px;
    padding: 15px;
    width: 80%;
}


/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 3rem;
    color: var(--white);
    border-radius: 20px;
    padding: 5px;
    border: none;
}

.instructions{
    font-size: 1rem;
    text-align: center;
    background-color: var(--opacity-background);
    border: 2px solid var(--border);
    color: var(--white);
    border-radius: 20px;
    padding: 15px;
    width: 80%;
    margin-top: 20px;
}

.instructions p{
    text-align: center;
    font-size: 1.8rem;
    background-color: transparent !important;
    color: var(--white);
    border-radius: 20px;
    padding: 10px;
    border: none;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input{
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    border: 2px solid var(--full-background);
    color: var(--white);
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
}

input::placeholder{
    color: var(--white);
    font-size: 2rem;
}

.output-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.script-container{
    margin-bottom: 50px;
}



button{
    line-height: 1.5;
    max-width: 30rem;
    margin-bottom: 20px;
    padding: 15px 25px;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color: var(--button);
    border: 2px solid var(--button);
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--button);
}

p{
    text-align: center;
    font-size: 3rem;
    background-color: var(--opacity-background);
    color: var(--white);
    border-radius: 20px;
    padding: 15px;
    border: 2px solid var(--border);
}

.hidden{
    background-color: transparent;
    border: 2px solid transparent;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    padding: 15px;
    font-size: 1.6rem;
    width: 100%;
}

.footer-text{
    font-size: 1.5rem;
    color: var(--full-background);
    background-color: transparent;
    padding: 15px;
    border: none;
}