@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --full-background: #d40e0e;
    --opacity-background: #d40e0ead;
    --border: rgb(255, 0, 0);
    --white: rgb(227, 227, 227);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Bungee Spice", sans-serif;
}

.background-image{
    height: 100%;
    width: 100%;
    background-image: url("food.webp");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.header{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    background-color: var(--opacity-background);
    border-radius: 20px;
    padding: 15px;
    border: 2px solid var(--border);
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: 2px solid blue;
}

p{
    text-align: center;
    font-size: 3rem;
    background-color: var(--opacity-background);
    border-radius: 20px;
    padding: 15px;
    border: 2px solid var(--border);
}

button{
    background-color: var(--full-background); 
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Bungee Spice", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    max-width: 30rem;
    margin-bottom: 100px;
}